* {
    margin: 0 auto;
}

header {
    width: 1440px;
    height: 60px;
    margin: 0 auto;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: white;
    position: sticky;
    top: 0;
    z-index: 1000;

    .link {
        width: 550px;
        display: flex;
        justify-content: space-evenly;

        a {
            transition: 1s;
        }

        a:hover {
            transform: scale(1.3);
            transition: 1s;
        }
    }

    .buttons {
        display: flex;
    }

    .log {
        background-color: rgb(18, 76, 95);
        border-radius: 5px;
        border-radius: 5px;
        width: 146px;
        height: 49px;
        cursor: pointer;

        img {
            margin-left: 50px;
            margin-top: 17px;
        }
    }

    .reg {
        background-color: rgb(199, 231, 225);
        margin-left: 10px;
        border-radius: 5px;
        width: 146px;
        height: 49px;
        cursor: pointer;

        img {
            margin-left: 40px;
            margin-top: 17px;
        }
    }

    .log:hover {
        background-color: rgb(12, 48, 59);
        box-shadow: 2px 2px 5px rgb(95, 94, 94);
    }

    .reg:hover {
        background-color: rgb(170, 199, 194);
        box-shadow: 2px 2px 5px rgb(95, 94, 94);
    }

}

main {
    width: 1440px;

    hr {
        border: none;
        color: rgb(199, 231, 225);
        background-color: rgb(199, 231, 225);
        height: 2px;
        margin-bottom: 50px;
    }

    .block_1 {
        width: 1440px;
        height: 810px;
        position: relative;
        background: url(./img/backgraund_dog.png) no-repeat 50% 50%;

        .text {
            width: 470px;
            height: 350px;
            position: absolute;
            left: 900px;
            top: 80px;
            font-family: "Livvic", serif;
            font-weight: 400;
            font-style: normal;

            h1 {
                font-size: 50px;
                margin-bottom: 30px;
                font-family: "Indie Flower", cursive;
                font-weight: 400;
                font-style: normal;
            }

            p {
                font-size: 19px;
                margin-bottom: 30px;
            }
        }
    }

    .benefits {
        text-align: center;
        font-size: 22px;
        font-family: "Livvic", sans-serif;
        font-weight: 400;
        font-style: normal;
        color: rgb(18, 76, 95);

        h1 {
            font-size: 65px;
            font-family: "Indie Flower", cursive;
            font-weight: 400;
            font-style: normal;
        }
    }

    .best {
        text-align: center;
        font-size: 22px;
        font-family: "Livvic", sans-serif;
        font-weight: 400;
        font-style: normal;
        margin-top: 140px;

        h1 {
            font-size: 65px;
            font-family: "Indie Flower", cursive;
            font-weight: 400;
            font-style: normal;
        }
    }

    .cards {
        width: 1270px;
        height: 225px;
        margin-top: 45px;
        display: flex;

        div {
            width: 320px;
            height: 257px;
            border-radius: 20px;
            box-shadow: 1px 1px 5px gray;
            color: rgb(18, 76, 95);
            font-family: "Livvic", sans-serif;
            font-weight: 400;
            font-style: normal;
            text-align: center;
            padding: 19px;
            font-size: 22px;
            transition: 1s;

            h1 {
                font-size: 36px;
                font-family: "Indie Flower", cursive;
                font-weight: 400;
                font-style: normal;
            }
        }
    }

    .recreation:hover {
        transition: 1s;
        transform: scale(1.2);
        background-color: rgb(199, 231, 225);
    }

    .block_2 {
        width: 1440px;
        display: flex;
        margin-top: 53px;

        .fon {
            img {
                margin-left: 12px;
                margin-bottom: 52px;
                width: 490px;
            }
        }

        .text {
            width: 780px;
            height: 340px;
            margin-top: 97px;
            font-family: "Livvic", serif;
            font-weight: 400;
            font-style: normal;
        }

        h1 {
            font-size: 50px;
            margin-bottom: 30px;
            font-family: "Indie Flower", cursive;
            font-weight: 400;
            font-style: normal;
        }

        p {
            font-size: 19px;
            margin-bottom: 30px;
        }
    }

    .text_1 {
        width: 1230px;
        font-family: "Livvic", serif;
        font-weight: 400;
        font-style: normal;

        h1 {
            font-size: 50px;
            margin-bottom: 12px;
            font-family: "Indie Flower", cursive;
            font-weight: 400;
            font-style: normal;
        }

        h3 {
            font-size: 25px;
            margin-bottom: 12px;
            font-family: "Indie Flower", cursive;
            font-weight: 400;
            font-style: normal;
        }

        p {
            font-size: 19px;
            margin-bottom: 12px;
            text-indent: 25px;

        }

        ul {
            font-size: 19px;
            margin-bottom: 12px;
        }

        li {
            display: block;
            margin: 7px 0;
            background: url(./img/галочка.svg) 0 4px no-repeat;
            padding-left: 6px;
            font-size: 14px;
            background-size: 20px;
        }

    }
}

footer {
    height: 605px;
    background-color: #f6faf9;
    margin: 0 auto;
    margin-top: 60px;
    font-family: "Livvic", serif;
    font-weight: 400;
    font-style: normal;

    h1 {
        width: 600px;
        height: 30px;
        font-size: 34px;
        text-align: center;
        padding: 50px;
    }

    .email {
        width: 700px;
        height: 58px;
        padding: 30px;
        background-color: white;
        box-shadow: 0 0 15px rgb(221, 218, 218);
        display: flex;
        align-items: center;
    }

    input {
        width: 460px;
        height: 30px;
        border: none;
    }

    button {
        width: 146px;
        height: 49px;
        border: none;
        border-radius: 5px;
        cursor: pointer;
        color: white;
        background-color: rgb(18, 76, 95);
    }

    .submit:hover {
        background-color: rgb(12, 48, 59);
    }

    :focus {
        outline: none;
    }

    .contacts {
        width: 1097px;
        height: 121px;
        margin-top: 70px;
        display: flex;

        .follow {
            width: 563px;
            height: 121px;
        }

        p {
            font-size: 14px;
            margin-bottom: 15px;
        }

        .fb {
            a {
                width: 60px;
                height: 60px;
                background: url(./img/fb_black.png) no-repeat 50% 50%;
                display: block;
                float: left;
            }

            a:hover {
                background: url(./img/fb_color.png) no-repeat 50% 50%;
                width: 60px;
                height: 60px;
            }
        }

        .inst {
            a {
                width: 60px;
                height: 60px;
                background: url(./img/inst_black.png) no-repeat 50% 50%;
                display: block;
                margin-left: 10px;
                float: left;
            }

            a:hover {
                background: url(./img/inst_color.png) no-repeat 50% 50%;
                width: 60px;
                height: 60px;
            }
        }

        .boarding {
            width: 267px;
            height: 121px;
        }

        .tel {
            color: rgb(18, 76, 95);
            font-size: 22px;
        }

        .adress {
            color: gray;
            font-size: 18px;
        }
    }



    hr {
        width: 1440px;
        margin-top: 50px;
        height: 1px;
        border: none;
        background-color: #c7c7c7;
    }

    .foot {
        width: 1100px;
        margin: 0 auto;
        margin-top: 50px;

        p {
            font-size: 16px;
            float: left;
        }

        .link_foot {
            width: 550px;
            display: flex;
        }

        a {
            font-size: 14px;
            text-decoration: none;
            color: black;
        }
    }
}